video{
  object-fit:  cover;
  width:   100%;
  height: 100%;
  z-index: -1;
  position: fixed;
}
.container{
  height: 100%;
  width:   100%;
  
}
.content{
height: calc(96vh - 48px); /* Subtract header and footer */
width:  calc(70vw + 400px); /* Subtract margins on both sides */
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-around;
font-family: 'Open Sans', sans-serif;
}

